a {
  color: #282828 !important;
  text-decoration: none !important; }

.table-hover > tbody > tr > td {
  color: #000 !important;
  border: #B8B8B8 1px solid !important; }

.table-hover > tbody > tr {
  background-color: #eaeaea !important; }

.table-hover > tbody > tr:hover {
  background-color: #fef3c6 !important; }

.table-hover > tbody > tr:first-child {
  background: #C0C0E5 url(../img/th_bg3.jpg) repeat-x !important;
  cursor: pointer; }

.table-hover > tbody > tr:first-child > td {
  border: 0px !important;
  height: 17px !important;
  font-weight: 600;
  color: #242335;
  line-height: 17px;
  padding: 0px; }

.table-hover > tbody > tr > td {
  padding: 0px; }

.table-hover > tbody > tr > td:first-child {
  padding-left: 5px; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  color: #000 !important; }

h5 {
  color: #428bca !important; }

@font-face {
  font-family: "Zawgyi-One-Embedded";
  font-style: normal;
  font-weight: 400;
  src: url(http://zawgyi-eot.googlecode.com/files/zawgyione-webfont.eot?#iefix) format("embedded-opentype"), url(http://zawgyi-eot.googlecode.com/files/zawgyione-webfont.woff) format("woff"), url(http://zawgyi-eot.googlecode.com/files/zawgyione-webfont.ttf) format("truetype"), url() format("svg"); }
* {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  text-decoration: none; }

ul {
  list-style-type: none; }

h1 {
  display: block;
  font-size: 1em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold; }

.textright {
  text-align: right;
  padding-right: 30px; }

.homeimage {
  padding-top: 40px; }

.input {
  line-height: 21px;
  height: 21px;
  width: 159px;
  background-color: white;
  text-align: right;
  float: left;
  margin-bottom: 9px;
  padding-right: 9px;
  margin-right: 3px; }

.nav_box {
  border-bottom: 4px solid;
  border-bottom-color: rgba(225, 225, 225, 0.98); }

.navs {
  width: 100% auto; }

.navs ul li a:hover {
  color: #fecc66;
  background: none !important; }

.navs ul li a {
  line-height: 35px;
  height: 35px;
  font-family: Verdana, Geneva, sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: 25px;
  display: inline;
  color: #3f3f3f !important; }

.main_bg {
  background: #ededed;
  min-height: 500px; }

.main_adv {
  background-color: rgba(250, 250, 250, 0.98); }

.count {
  background-color: #ffffff;
  border: 1px solid #333333;
  color: #373737;
  line-height: 16px;
  padding: 2px 10px;
  text-shadow: 1px 0 0 #333333;
  height: 21px;
  margin: 0px 10px; }

.firstrow {
  margin-bottom: 20px; }

.asideleft {
  padding: 20px; }

.asideright {
  background: #fff;
  padding: 20px 10px; }

.toolbar {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px; }

.listcontainer {
  padding: 40px 0;
  min-height: 200px; }

.list {
  background-position: left top;
  /* height: 280px; */
  width: 184px;
  background-repeat: no-repeat;
  margin-right: 21px;
  /* margin-bottom: 20px; */
  padding: 20px; }

.list a:hover {
  color: #337ab7 !important;
  text-align: center; }

.list a {
  padding-top: 20px;
  display: block;
  font-size: 18px;
  text-align: center; }

.copyright {
  background-color: rgba(250, 250, 250, 0.98);
  padding: 20px 0px; }

.copyright li {
  float: left;
  list-style: none;
  margin-bottom: 20px; }

.copyright1 {
  width: 420px;
  float: left; }

.copyright1 ul li {
  float: left;
  width: 40px !important;
  /*  margin-right: 20px;
    margin-top: 20px;*/ }

.copyright2 {
  float: left;
  text-align: center; }

.copyright3 {
  text-align: right; }

.copyright3 ul li {
  float: left;
  margin-left: 15px;
  margin-top: 16px; }

.nr_left ul li a {
  float: left;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCC;
  color: #CCC;
  margin-right: 4px;
  padding-right: 4px; }

#tableContainer {
  padding: 5px; }

.titleBar {
  background: #e3e3e3 url("../img/default_bg.jpg") repeat-x center top;
  padding: 1px 5px 0 7px; }

.titleBar .title {
  height: 23px;
  float: left; }

.btnbg1 {
  background: url(../img/btn_bg.png) no-repeat 0px 0px;
  height: 20px;
  padding: 0px; }

.btn {
  width: 150px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  color: #fff !important;
  line-height: 15px;
  font-size: 15px;
  border: 1px solid  #428bca;
  margin-top: 5px; }

.oddsTable th {
  height: 15px;
  background: #6C6D86 url(../img/nlth_bg.jpg) repeat-x;
  border: solid 1px #B8B8B8;
  color: #fff;
  font: 500 11px Tahoma; }

.subnav-link li a {
  color: #ffffff;
  font-weight: 600;
  cursor: pointer; }

.slidercontent {
  padding: 50px; }

.main_goal {
  background-color: rgba(250, 250, 250, 0.98);
  text-align: center; }

.detail {
  text-align: right; }

.detail button {
  text-align: center;
  color: #066ED6 !important; }

.hotque ol {
  padding-left: 15px; }

.listrow {
  padding: 10px 0px; }

aside {
  height: 600px; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-accordion-menu {
  max-width: 600px;
  background: #000; }

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none; }

.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0; }

.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 5px 5px 5px 20px;
  box-shadow: inset 0 -1px #555960;
  color: #ffffff;
  font-size: 1rem;
  height: 30px;
  text-align: left;
  color: #000;
  padding-left: 20px;
  background: url(../img/li_bg.jpg) no-repeat;
  cursor: pointer; }

.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #52565d; }

.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.cd-accordion-menu label {
  cursor: pointer; }

.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-repeat: no-repeat; }

.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg); }

.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0; }

.cd-accordion-menu a::after {
  /* image icon */
  left: 36px; }

.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0; }

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block; }

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  font-family: Tahoma;
  font-size: 12px;
  background: #000;
  box-shadow: inset 0 -1px #41444a;
  opacity: 0.8;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  line-height: 24px; }

.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #3c3f45; }

.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none; }

.cd-accordion-menu ul label::before {
  left: 36px; }

.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px; }

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px; }

.cd-accordion-menu ul ul label::before {
  left: 54px; }

.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px; }

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px; }

.cd-accordion-menu ul ul ul label::before {
  left: 72px; }

.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px; }

@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 5px 5px 5px 20px;
    font-size: 1rem; }

  .cd-accordion-menu label::before {
    left: 24px; }

  .cd-accordion-menu label::after {
    left: 53px; }

  .cd-accordion-menu ul label::before {
    left: 48px; }

  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px; }

  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px; }

  .cd-accordion-menu ul ul label::before {
    left: 72px; }

  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px; }

  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px; }

  .cd-accordion-menu ul ul ul label::before {
    left: 96px; }

  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px; } }
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

/*# sourceMappingURL=main.css.map */
